body{
    background-color: #131313;
}

/* Navigation Bar*/
.Navtext{
    cursor: default;
    font-family: 'geneva';
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    
}
.main{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.Navbar{
    font-family: 'poppins', 'sans-serif';
}

.navb{
    border-radius: 15px;
    width: 400px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 30px;
    transition: 0.5s;
}

nav a:hover{
    color: aqua;
}

nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: 0.5s;
}

nav a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}
/* Layout */

.content{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-around;
}

/* Content Size */
.denP{
    width: 400px;
    height: 260px;
    object-fit: cover;
    cursor: pointer;
    transform-style: preserve-3d;
    border: 5px rgb(#ff0000);
    transition: transform 0.5s ease;
    border-radius: 15px;
}

.denP:hover{
    transform: rotateX(10deg) rotateY(15deg) scale(1.10);
    box-shadow: 20px 20px 40px rgb(#087381);
}

.Cpic{
    width: 400px;
    height: 260px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.denV{
    width: 400px;
    height: 260px;
    cursor: pointer;
    transform-style: preserve-3d;
    border: 5px rgb(#ff0000);
    transition: transform 0.5s ease;
}

.denV:hover{
    transform: rotateX(10deg) rotateY(15deg) scale(1.10);
    box-shadow: 20px 20px 40px rgb(#087381);
}

.Cvid{
    width: 400px;
    height: 260px;
}
/*button*/
.btn{
    width: 400px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    transition: all 0.4s ease;
}  
.btn:hover {
    transform: scale(1.07);
}

.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn::before{
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffB00, #48FF00, #00FFD5, #002bff, #ff00c8, #ff0000);
    position: absolute;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 4px);
    filter: blur(10px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    left: -4px;
    top: -5px;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.btn:hover::before{
    opacity: 1;
}

.btn:active::after{
    background: transparent;
}

.btn:active{
    color: #000;
    font-weight: bol;
}

/* text */
.text{
    color: aliceblue;
    cursor: default;
    text-align: justify;
    transition: all 0.4s ease;
}
.text:hover {
    transform: scale(1.03);
}

.read{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 30px; /* Works on some browsers */
    box-shadow: 2px 2px 4px 0px #006773;
    transition: all 0.4s ease;
    overflow: hidden;
}
.read:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px #00e0ff;
}
